<div class="container",>
    <div class="row">
        <h3 class="col-md-10 align-self-center text-center">Registro de las tareas</h3>
        <br>
        <!--FORM-->
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <form action="/" method="POST">
                        <input type="hidden" name="_id" value="{{tarea._id}}">
                        <div class="form-group">
                            <input class="form-control" type="text" name="nombre" placeholder="Nueva tarea"
                                value="{{tarea.nombre}}" id="nombre" autocomplete="off">
                        </div>
                        <button class="btn btn-primary" type="submit" id="enviar">
                            Agregar
                        </button>
                    </form>
                </div>
            </div>
            {{!-- Lista --}}
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                <tbody>
                    {{#each tareas}}
                    <tr>
                        <td>{{this.nombre}}</td>
                        <td>{{#if this.estado}}Completa{{else}}Sin completar{{/if}}</td>
                        <td>
                            <a class="{{#if this.estado}}btn btn-success{{else}}btn btn-dark{{/if}}"
                                href="/cambiar-estado/{{this._id}}">
                                Completar
                            </a>
                            <a href="/delete/{{this._id}}"
                                class="btn btn-danger {{#if this.estado}}enabled{{else}}disabled{{/if}}">
                                Delete
                            </a>

                            <a href="/{{this._id}}" class="btn btn-info">
                                Edit
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <h4 class="col-md-10 align-self-center text-center"> Integrantes: Lopez - Ramirez </h4> <br>
</div>
<style>

    .container {
        background-color: teal;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: large;
    }
    .row {
        background-color: teal;
    }
    
    
 
    .card {
       background-color: wheat;	 
    }
     
    .table {
    	background-color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: larger;
    }
    
</style>
<script>

    var positionCounter = 1; Handlebars.registerHelper('position', function () { return positionCounter++; });


    document.getElementById('enviar').addEventListener('click', function (e) {
        let nombre = document.querySelector('#nombre').value
        if (nombre.trim().length == 0) {
            alert("El nombre de la tarea no puede estar vacio")
            e.preventDefault()
        }
    })
</script>